/* Example of using Roboto font in CSS */
body {
  font-family: 'Roboto', sans-serif;
}

/* Example of applying Roboto font to specific elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

/* You can also specify different weights and styles */
.bold-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Bold */
}

.italic-text {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.text-gradient {
  background: linear-gradient(45deg, #00aeff, #ff9100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gradient Variation 1 */
.text-gradient-1 {
  background: linear-gradient(45deg, #f6d365, #fda085);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gradient Variation 2 */
.text-gradient-2 {
  background: linear-gradient(45deg, #00c6fb, #005bea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.filter-grayscale {
  filter: grayscale(100%);
}

.home-sub {
  opacity: 0;
  transition: opacity 1.0s ease-in-out;
}

.home-sub.show {
  opacity: 1;
}

.header-bg{
  background: linear-gradient(90deg, #00aeff, #ff9100);
}