/* Example of using Roboto font in CSS */
body {
  font-family: "Roboto", sans-serif;
}

/* Example of applying Roboto font to specific elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

/* You can also specify different weights and styles */
.bold-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700; /* Bold */
}

.italic-text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.text-gradient {
  background: linear-gradient(45deg, #00aeff, #ff9100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gradient Variation 1 */
.text-gradient-1 {
  background: linear-gradient(45deg, #f6d365, #fda085);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gradient Variation 2 */
.text-gradient-2 {
  background: linear-gradient(45deg, #00c6fb, #005bea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filter-grayscale {
  filter: grayscale(100%);
}

.home-sub {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.home-sub.show {
  opacity: 1;
}

.header-bg {
  background: linear-gradient(90deg, #00aeff, #ff9100);
}

.rental-card {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Set initial card background with opacity */
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

.rental-card:hover {
  background-color: rgba(255, 255, 255, 1); /* Adjust brightness on hover */
}

.view-details-btn {
  background-color: #222bd8;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for button hover effect */
}

.view-details-btn:hover {
  background-color: #2f3fd7; /* Adjust button color on hover */
}
